*.test.js
isolate*

/.builds
/.github
/.vscode
/coverage
/dist
/docs
/examples
/public
/src

/.prettierignore
/.prettierrc
/eslint.config.js
/index.html
/tsconfig*.json
/vite.config.ts
/vitest.config.ts