/* Our default values set for mobile */
:root {
  --color-bg: #FFFFA0;
  --color-text-main: #2800FF;
  --color-primary: #AFECE0;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;

}

/* Tablet portrait */
@media (min-width: 768px) {
  :root {
    --wrapper-height: 87vh;
    --image-max-width: 400px;
    --image-margin: 5rem;
  }
}

/* Tablet Landscape */
@media (min-width: 1024px) {
  :root {
    --wrapper-height: 87vh;
    --image-max-width: 500px;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  :root {
    --wrapper-height: 87vh;
    --image-max-width: 500px;
  }
}

@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}

@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
}

.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin-left: 2rem;
  margin-top: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--color-text-main);
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 105%;
}

.page .title {
  font-size: 64px;
}

/* Navigation grid */
.navigation {
  display: flex;
  justify-content: flex-end;
}

/* Our remix on glitch button + grid for other actions */
.btn--click-me {
  user-select: none;
  cursor: pointer;
}

.btn--click-me:hover {
  text-decoration: underline;
}

a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  text-decoration: none;
  border-bottom: 6px solid var(--color-primary);
  color: var(--foreground);
  transition: background 0.2s linear;
}

a:hover {
  background: var(--color-primary);
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
  cursor: pointer;
  padding-left: 3.5rem;
}

/* Our remix on glitch button */

.btn--remix {
  font-family: HK Grotesk;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  margin-top: 0.75rem;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
}

.btn--remix img {
  margin-right: 0.5rem;
}

.btn--remix:hover {
  background-color: #D0FFF1;
}


/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 1rem;
  width: 100%;
}

.footer a:not(.btn--remix):link,
        a:not(.btn--remix):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}


.footer ul {
  display: flex;
  justify-content: space-between;
}

.footer li {
  list-style-type: none;
  padding: .5rem 1rem;
  border-right: 1px solid black;
}

.footer li:last-of-type {
  border: none;
}

.divider {
  padding: 0 1rem;
}