{"plugins": [["/rbd/pnpm-volume/d8ad54cd-9b31-4ebc-aea5-f8db5270c0ac/node_modules/.registry.npmjs.org/@babel/plugin-syntax-import-meta/7.10.1/@babel!core@7.10.2/node_modules/@babel/plugin-syntax-import-meta/lib/index.js"]]}