.cm-editor.cm-focused {
  outline: none;
}

.cm-editor .cm-scroller .cm-content {
  caret-color: var(--oksolar-text);
}

.cm-editor .cm-content {
  font-family: var(--dk-mono);
}

.cm-editor .cm-gutters {
  background: transparent;
  width: 2rem;
  border: none;
  color: var(--oksolar-text-deemph-2);
}

.cm-gutter.cm-lineNumbers {
  width: 100%;
  font-family: var(--dk-condensed);
}

.cm-lintRange.cm-lintRange-error {
  background-image: none;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--oksolar-text-red);
  text-decoration-skip-ink: none;
}

.tok-variableName {
  color: var(--oksolar-text-violet);
}

.tok-predicate .tok-variableName,
.tok-variableName .tok-predicate {
  color: var(--oksolar-text-blue);
}

.tok-variableName2 {
  color: var(--oksolar-text-pink);
}

.tok-variableName.tok-local {
  color: var(--oksolar-text-deemph);
}

.tok-comment {
  color: var(--oksolar-text);
  font-style: italic;
}

.tok-literal,
.tok-number,
.tok-string,
.tok-macroName {
  color: var(--oksolar-text-green);
}

.tok-string2 {
  color: var(--oksolar-text-orange);
}

.tok-invalid {
  color: var(--oksolar-text-red);
}

.tok-meta {
  color: var(--oksolar-text-orange);
}
