body {
  --sketchzone-ui-font-family: 'Fira Sans Condensed', sans-serif;
  --sketchzone-mono-font-family: 'Fira Mono', monospace;
  --sketchzone-line-numbers-font-family: var(--sketchzone-ui-font-family);

  --sketchzone-dark-1-text: oklch(72% 0 0);
  --sketchzone-dark-1-active-button-text: oklch(77% 0 0);
  --sketchzone-dark-2-text: oklch(82% 0 0);
  --sketchzone-dark-2-active-button-text: oklch(87% 0 0);

  --sketchzone-light-1-text: oklch(52% 0 0);
  --sketchzone-light-1-active-button-text: oklch(47% 0 0);
  --sketchzone-light-2-text: oklch(42% 0 0);
  --sketchzone-light-2-active-button-text: oklch(37% 0 0);
}

/** Adjust codemirror gutters **/
.cm-gutter.cm-lineNumbers {
  color: oklch(77% 0 0);
}

@media (prefers-color-scheme: dark) {
  .cm-gutter.cm-lineNumbers {
    color: oklch(47% 0 0);
  }
}

.theme-light .cm-gutter.cm-lineNumbers {
  color: oklch(77% 0 0);
}

.theme-dark .cm-gutter.cm-lineNumbers {
  color: oklch(47% 0 0);
}

/** Codemirror syntax highlighting **/

.tok-comment {
  color: var(--oksolar-text);
  font-style: italic;
}

.tok-meta {
  color: var(--oksolar-text-orange);
}

.tok-variableName {
  color: var(--oksolar-text-pink);
}

.tok-literal {
  color: var(--oksolar-text-violet);
}

.tok-user-predicate .tok-literal {
  color: var(--oksolar-text-blue);
}

.tok-builtin-predicate .tok-literal {
  color: var(--oksolar-text-green);
}

.tok-builtin-name .tok-variableName {
  color: var(--oksolar-text-orange);
}

.tok-number,
.tok-string {
  color: var(--oksolar-text-green);
}

.tok-invalid {
  color: var(--oksolar-text-red);
}

.tok-string2 {
  color: var(--oksolar-text-pink);
}

/** Inspector **/

#inspector-root {
  height: var(--sketchzone-inspector-height);
  box-shadow: var(--sketchzone-box-shadow);
  border-radius: var(--sketchzone-radius);
  display: grid;
  gap: 1px;
  grid-template-rows: var(--sketchzone-button-height) 1fr var(--sketchzone-button-height);
}

/* remove, added to next sketchzone release */
button {
  min-width: max-content;
}

#inspector-error {
  height: var(--sketchzone-inspector-height);
  box-shadow: var(--sketchzone-box-shadow);
  color: var(--oksolar-text-red);
  background-color: var(--sketchzone-1-background);
  border-radius: var(--sketchzone-radius);
  padding: var(--sketchzone-large-padding);
}

#inspector-head {
  border-top-left-radius: var(--sketchzone-radius);
  border-top-right-radius: var(--sketchzone-radius);
  background-color: var(--sketchzone-1-background);
  display: flex;
  flex-direction: row;
  height: var(--sketchzone-button-height);
}

#inspector-head button {
  padding-inline: 2px;
}

#inspector-head div {
  width: fit-content;
  min-width: 7rem;
  text-align: center;
}

.status-text {
  margin-block: auto;
  text-wrap: nowrap;
  overflow-x: hidden;
}

#inspector-body {
  background-color: var(--sketchzone-1-background);
  overflow-y: scroll;
}

#inspector-foot {
  border-bottom-left-radius: var(--sketchzone-radius);
  border-bottom-right-radius: var(--sketchzone-radius);
  background-color: var(--sketchzone-1-background);
  height: var(--sketchzone-button-height);
  display: flex;
}

#inspector-foot div {
  flex-grow: 1;
  text-align: right;
  padding-right: var(--sketchzone-small-padding);
}

.hidden {
  display: none;
}

button:disabled {
  opacity: 0.5;
}

button:disabled:hover {
  background-color: var(--sketchzone-1-background);
  color: var(--sketchzone-1-text);
}
