.cm-editor {
  height: calc(100vh - 8rem);
}

.cm-editor.cm-focused {
  outline: none;
}

.cm-editor .cm-scroller {
  overflow: auto;
}

.cm-editor .cm-content {
  font-family: var(--dk-mono);
}

.cm-editor .cm-gutters {
  background: transparent;
  width: 2.7rem;
  border: none;
  color: var(--dk-text-deemph);
}

.cm-gutter.cm-lineNumbers {
  width: 100%;
  font-family: var(--dk-condensed);
}

.cm-editor .cm-gutter.cm-lineNumbers .cm-gutterElement {
  padding-right: 5pt;
}

.cm-editor .cm-lintRange-error {
  color: #dc322f;
}

/* Overwrites other token styles in lint ranges */
.cm-editor .cm-lintRange-error [class^=tok] {
  color: #dc322f;
}


.tok-variableName {
  color: var(--solar-light-blue);
}

.tok-number {
  color: var(--solar-light-cyan);
}

.tok-literal {
  color: var(--solar-light-cyan);
}

.tok-string {
  color: var(--solar-light-cyan);
}

.tok-variableName2 {
  color: var(--solar-light-violet);
}

.tok-punctuation {
  color: var(--solar-light-text);
}

.tok-keyword {
  color: var(--solar-light-text);
}

.tok-invalid {
  color: var(--solar-light-red);
}

.tok-comment {
  color: var(--solar-light-text);
  font-style: italic;
}