body {
  --dk-mono: 'Fira Mono', monospace;
  --dk-condensed: 'Fira Sans Condensed', sans-serif;
  font-family: var(--dk-condensed);

  --dk-outer-padding: 12px;
  --dk-small-padding: 8px;
  --dk-small-radius: 8px;
  --dk-medium-padding: 12px;

  --oksolar-background: oklch(97% 0 0);
  --oksolar-background-highlight: oklch(92% 0 0);
  --oksolar-background-deemph: oklch(87% 0 0);
  --oksolar-background-deemph-highlight: oklch(82% 0 0);
  --oksolar-text-deemph-2: oklch(77% 0 0);
  --oksolar-text-deemph-2-highlight: oklch(72% 0 0);
  --oksolar-text-deemph: oklch(67% 0 0);
  --oksolar-text-deemph-highlight: oklch(62% 0 0);
  --oksolar-text: oklch(57% 0 0);
  --oksolar-text-highlight: oklch(52% 0 0);
  --oksolar-text-emph: oklch(47% 0 0);
  --oksolar-text-emph-highlight: oklch(42% 0 0);

  --oksolar-background-red: oklch(97% 0.015 20);

  --oksolar-text-green: oklch(57% 0.15 150);
  --oksolar-text-blue: oklch(57% 0.15 240);
  --oksolar-text-violet: oklch(57% 0.15 280);
  --oksolar-text-pink: oklch(57% 0.15 330);
  --oksolar-text-red: oklch(57% 0.15 20);
  --oksolar-text-orange: oklch(57% 0.15 60);
}

body.theme-dark {
  --oksolar-background: oklch(27% 0 0);
  --oksolar-background-highlight: oklch(32% 0 0);
  --oksolar-background-deemph: oklch(37% 0 0);
  --oksolar-background-deemph-highlight: oklch(42% 0 0);
  --oksolar-text-deemph-2: oklch(47% 0 0);
  --oksolar-text-deemph-2-highlight: oklch(52% 0 0);
  --oksolar-text-deemph: oklch(57% 0 0);
  --oksolar-text-deemph-highlight: oklch(62% 0 0);
  --oksolar-text: oklch(67% 0 0);
  --oksolar-text-highlight: oklch(72% 0 0);
  --oksolar-text-emph: oklch(77% 0 0);
  --oksolar-text-emph-highlight: oklch(82% 0 0);

  --oksolar-background-red: oklch(27% 0.015 20);

  --oksolar-text-green: oklch(67% 0.15 150);
  --oksolar-text-blue: oklch(67% 0.15 240);
  --oksolar-text-violet: oklch(67% 0.15 280);
  --oksolar-text-pink: oklch(67% 0.15 330);
  --oksolar-text-red: oklch(67% 0.15 20);
  --oksolar-text-orange: oklch(67% 0.15 60);
}

main {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: calc(2rem + var(--dk-outer-padding) * 2) 1fr;
  margin: 0;
  padding: 0;
  background: var(--oksolar-background);
  color: var(--oksolar-text);
  /* caret-color: var(--oksolar-text-emph); */
}

.dk-config {
  display: grid;
  align-items: end;
  padding: var(--dk-outer-padding);
}

.dk-config button {
  height: 2rem;
  border: 0;
  background: var(--oksolar-background);
  color: var(--oksolar-text);
  border-radius: var(--dk-small-radius);
}

.dk-config button:hover {
  color: var(--oksolar-text-highlight);
  background-color: var(--oksolar-background-highlight);
}

.dk-sessions {
  background-color: var(--oksolar-background-deemph);
  border-radius: calc(var(--dk-small-radius) + var(--dk-small-padding));
  padding: var(--dk-small-padding);
  margin: var(--dk-outer-padding);
  margin-left: 0;
  display: grid;
  grid-template-rows: 3rem 1fr;
  height: calc(100vh - 2 * var(--dk-outer-padding));
}

.dk-header {
  color: var(--oksolar-text-emph);
  display: grid;
  grid-template-columns: 1fr auto;
}

.dk-tabs {
  display: flex;
  flex-direction: row;
  gap: var(--dk-small-padding);
  overflow-x: scroll;
  padding: 0 0 10px 0;
}

.dk-logo {
  font-size: 1.5rem;
  padding-right: var(--dk-medium-padding);
}

.dk-session {
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
}

.dk-tab {
  display: flex;
  flex-direction: row;
}

/* Regular tab button styles */
.dk-tab button,
.dk-new-tab {
  white-space: nowrap;
  background-color: transparent;
  border: none;
  background: var(--oksolar-background-deemph);
  color: var(--oksolar-text-emph);
}

.dk-tab-select-solo,
.dk-new-tab {
  border-radius: var(--dk-small-radius);
  padding-inline: var(--dk-medium-padding);
}

.dk-tab button.dk-tab-select {
  border-top-left-radius: var(--dk-small-radius);
  border-bottom-left-radius: var(--dk-small-radius);
  padding-left: var(--dk-medium-padding);
}

.dk-tab button.dk-tab-close {
  border-top-right-radius: var(--dk-small-radius);
  border-bottom-right-radius: var(--dk-small-radius);
  padding-right: var(--dk-medium-padding);
  color: var(--oksolar-background-deemph);
}

.dk-tab button:hover,
.dk-new-tab:hover {
  background-color: var(--oksolar-background-deemph-highlight);
  color: var(--oksolar-text-emph-highlight);
}

/* Override colors for active tab */
.dk-tab.dk-tab-active button {
  background-color: var(--oksolar-background);
  color: var(--oksolar-text-emph);
}

.dk-tab.dk-tab-active button:hover {
  background-color: var(--oksolar-background-highlight);
  color: var(--oksolar-text-emph-highlight);
}

.dk-edit {
  background-color: var(--oksolar-background);
  box-shadow: 0 0 0.3rem 0 var(--oksolar-text-deemph);
  border-radius: var(--dk-small-radius);
  padding: var(--dk-medium-padding);
  padding-left: var(--dk-small-padding);
  padding-right: 0;
  display: grid;
}

#codemirror-root.dk-edit .cm-editor {
  height: calc(
    100vh - 2 * var(--dk-outer-padding) - 2 * var(--dk-small-padding) - 2 * var(--dk-medium-padding) -
      3rem
  );
}

.dk-view {
  box-shadow: 0 0 0.3rem 0 var(--oksolar-text-deemph);
  border-radius: var(--dk-small-radius);
  display: grid;
  grid-template-rows: calc(2rem + 1px) min-content 1fr;
  height: calc(100vh - 2 * var(--dk-outer-padding) - 2 * var(--dk-small-padding) - 3rem);
}

.dk-view-header {
  background-color: var(--oksolar-background);
  display: grid;
  border-top-right-radius: var(--dk-small-radius);
  border-top-left-radius: var(--dk-small-radius);
  justify-items: left;
  border-bottom: solid 1px var(--oksolar-text-deemph-2);
  display: flex;
  flex-direction: row;
}

.dk-view-header button {
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: var(--dk-small-radius);
  background-color: transparent;
  color: var(--oksolar-text);
  display: grid;
  align-items: center;
  justify-content: center;
}

.dk-view-header button:hover {
  color: var(--oksolar-text-highlight);
  background-color: var(--oksolar-background-highlight);
}

.dk-view-status {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  padding-right: var(--dk-medium-padding);
}

.dk-view-errors {
  background-color: var(--oksolar-background-red);
  border-bottom-left-radius: var(--dk-small-radius);
  border-bottom-right-radius: var(--dk-small-radius);
  padding: var(--dk-medium-padding);
  padding-top: var(--dk-small-padding);
  color: var(--oksolar-text-red);
  overflow-y: scroll;
}

.dk-view-edit-warning {
  border-bottom: 1px solid var(--oksolar-text-deemph-2);
  text-align: center;
  color: var(--oksolar-text-red);
  background-color: var(--oksolar-background-red);
}

.dk-view-edit-warning a {
  text-decoration: solid underline var(--oksolar-text-emph);
  color: var(--oksolar-text-emph);
}

.dk-view-solutions {
  display: grid;
  background-color: var(--oksolar-background);
  border-bottom-left-radius: var(--dk-small-radius);
  border-bottom-right-radius: var(--dk-small-radius);
  padding: var(--dk-medium-padding);
  padding-top: var(--dk-small-padding);
  padding-bottom: var(--dk-medium-padding);
  overflow-y: scroll;
}

.dk-icon-button {
  display: grid;
  justify-content: center;
  align-items: center;
}
