:root {
  --dk-bg-glow: oklch(80% 0 0);
  --dk-tab-hover: oklch(93% 0 0);
  --dk-mono: 'Fira Mono', monospace;
  --dk-condensed: 'Fira Sans Condensed', sans-serif;
  --dk-emphasis: oklch(72% 0.19 320);
  --dk-emphasis-hover: oklch(75% 0.19 320);

  --dk-outer-padding: 12px;
  --dk-small-padding: 8px;
  --dk-small-radius: 8px;

  --dk-text-deemph: oklch(75% 0 0);

  --solar-light-background: oklch(97% 0 0);
  --solar-light-background-red: oklch(97% 0.02 25);
  --solar-light-background-orange: oklch(97% 0.02 70);
  --solar-light-background-green: oklch(97% 0.02 160);

  --solar-light-highlight: oklch(91% 0 0);
  --solar-light-highlight-orange: oklch(91% 0.02 70);

  --solar-light-active-orange: oklch(86% 0.02 70);


  --solar-light-deemph: oklch(87% 0 0);
  --solar-light-text: oklch(58% 0 0);
  --solar-light-emph: oklch(44% 0 0);
  --solar-light-very-emph: oklch(29% 0 0);

  --solar-light-yellow: oklch(58% 0.13 115);
  --solar-light-green: oklch(58% 0.13 160);
  --solar-light-cyan: oklch(58% 0.13 205);
  --solar-light-blue: oklch(58% 0.13 250);
  --solar-light-violet: oklch(58% 0.13 295);
  --solar-light-magenta: oklch(58% 0.13 340);
  --solar-light-red: oklch(58% 0.13 25);
  --solar-light-highlight-red: oklch(% 0.13 25);
  --solar-light-orange: oklch(58% 0.13 70);
}

html {
  font-family: var(--dk-condensed);
}

.dk-main {
  min-height: 100vh;
  display: grid;
}

.dk-frame {
  padding: var(--dk-outer-padding);
  min-height: 100%;
}

.dk-sessions {
  background-color: oklch(92% 0 0);
  border-radius: calc(var(--dk-small-radius) + var(--dk-small-padding));
  padding: var(--dk-small-padding);
  display: grid;
  grid-template-rows: 3rem 1fr;
  min-height: 100%;
}

.dk-header {
  display: grid;
  grid-template-columns: 1fr auto;
}

.dk-tabs {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  overflow-x: scroll;
  padding: 0 0 0.75rem 0;
}

.dk-tab {
  display: flex;
  flex-direction: row;
}

.dk-tab button {
  white-space: nowrap;
  background-color: transparent;
  border: none;
}
.dk-tab button:hover {
  background-color: oklch(89% 0 0);
}

.dk-tab.dk-tab-active button {
  background-color: oklch(84% 0 0);
}

.dk-tab.dk-tab-active button:hover {
  background-color: oklch(87% 0 0);
}

.dk-tab-button {
  padding-left: 0.75rem;
  border-radius: var(--dk-small-radius) 0 0 var(--dk-small-radius);
  padding-right: 0rem;
}

.dk-tab-button.dk-tab-button-solo {
  border-radius: var(--dk-small-radius);
  padding-right: 0.75rem;
}

.dk-tab-close {
  border-radius: 0 var(--dk-small-radius) var(--dk-small-radius) 0;
  padding: 0 0.75rem;
}

.dk-tab.dk-tab-active button.dk-tab-close {
  color: black;
}

button.dk-tab-close {
  color: transparent;
}

button.dk-tab-close:hover {
  color: black;
}

.dk-logo {
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0 0.75rem 0.5rem 0.5rem;
}

.dk-session {
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
}

.dk-edit {
  background-color: var(--solar-light-background);
  box-shadow: 0 0 0.3rem 0 var(--dk-bg-glow);
  border-radius: var(--dk-small-radius);
  padding: 1rem 1rem 1rem 0;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
}

.dk-edit textarea {
  font-family: var(--dk-mono);
  resize: none;
  border: none;
}

.dk-edit-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dk-edit-menu button {
  border-radius: var(--dk-button-radius);
  height: 2.5rem;
  border: none;
}

.dk-edit-menu button.dk-go {
  background-color: var(--dk-emphasis);
  display: grid;
  align-items: center;
  justify-content: center;
  color: white;
}

.dk-edit-menu button.dk-go:hover {
  background-color: var(--dk-emphasis-hover);
}

.dk-view {
  background-color: oklch(92% 0 0);
  box-shadow: 0 0 0.3rem 0 var(--dk-bg-glow);
  border-radius: var(--dk-small-radius);
  display: grid;
  grid-template-rows: calc(2rem + 1px) 1fr;
}

.dk-view .dk-view-header {
  height: calc(2rem + 1px);
  border-bottom: 1px solid oklch(80% 0 0);
  display: flex;
  flex-direction: row;
  gap: 2px;
  border-top-right-radius: var(--dk-small-radius);
  border-top-left-radius: var(--dk-small-radius);
}

.dk-view .dk-load-button {
  background-color: transparent;
  border: 0;
  width: 2rem;
  height: 2rem;
  color: var(--solar-light-text);
}

.dk-view .dk-load-button:hover {
  color: var(--solar-light-very-emph);
}

.dk-view .dk-load-button:disabled {
  color: var(--solar-light-deemph);
}

.dk-view .dk-view-stats {
  padding-left: 0.5rem;
  display: grid;
  height: 2rem;
  justify-content: left;
  align-items: center;
}

.dk-view .dk-view-status {
  display: grid;
  height: 2rem;
  padding-right: 0.75rem;
  justify-content: right;
  align-items: center;
  flex-grow: 1;
  color: var(--solar-light-text);
}

.dk-view .dk-view-status-unloaded {
  background-color: var(--solar-light-background);
}

.dk-view .dk-view-status-error {
  background-color: var(--solar-light-background-red);
}

.dk-view .dk-view-status-ok {
  background-color: var(--solar-light-background);
}

.dk-view .dk-view-errors {
  background-color: var(--solar-light-background);
  padding: 1rem 1rem 1rem 1rem;
  color: var(--solar-light-red);
  border-bottom-left-radius: var(--dk-small-radius);
  border-bottom-right-radius: var(--dk-small-radius);
}

.dk-view .dk-view-solutions {
  background-color: var(--solar-light-background);
  padding: 1rem 1rem 1rem 1rem;
  border-bottom-left-radius: var(--dk-small-radius);
  border-bottom-right-radius: var(--dk-small-radius);
  color: var(--solar-light-text)
}
