html body {
  padding: 0;
  margin: 0;
}

textarea {
  width: 100%;
  height: 10rem;  
}

textarea:disabled {
  background-color: #EEEEEE;
}

main {
  display: grid;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  min-height: 100vh;
  max-height: 100vh;
  grid-template-columns: 1fr 2rem 1fr;
  grid-template-rows: 15rem 1fr;
}

.instructions {
  display: grid;
  grid-template-rows: 3rem  2rem 1fr;
}

pre {
  overflow-x: scroll;
}

.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: rgba(0,0,0,0.5)
}

#dom-zone-root {
  padding: 2rem;
  border: 3px solid gray;
}

#dom-zone-root div {
  border: 2px solid #000000;
  margin: 2px;
  padding: 2px;
}

#dom-zone-root ul {
  border: 2px solid blue;
  margin: 2px;
  padding: 2px 2px 2px 1.5rem;
}

#dom-zone-root p {
  border: 2px solid green;
  margin: 2px;
  padding: 1rem 2px;
}